<br />
<h4 style="color:blue">Capstone Project Description</h4>
<br />

<table class="table">
    <thead>
        <tr>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>
                <ul style="font-size: 18px; color:dimgray; font-family: Arial, Verdana">
                    <li style="padding-top: 10px">
                        View all To Do lists at the application's list view
                    </li>
                    <li style="padding-top: 10px">
                        Create new To Do lists
                    </li>
                    <li style="padding-top: 10px">
                        Add To Do entries (items) to a To Do list
                    </li>
                    <li style="padding-top: 10px">
                        Enter a title, a description, a due date, a creation date to each To Do item
                    </li>
                    <li style="padding-top: 10px">
                        Change To Do items status to: Completed, In Progress, Rejected
                    </li>
                    <li style="padding-top: 10px">
                        Modify a To Do list or a To Do entry
                    </li>
                </ul> 
            </th>
        </tr>
    </tbody>
</table>
