<br />
<h4 style="color:blue">My Contacts</h4>
<br />

<table class="table">
    <thead>
        <tr>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>
                @*<img src="https://media.licdn.com/dms/image/C5603AQEvX2EXpz6ijg/profile-displayphoto-shrink_800_800/0/1634565844645?e=1677715200&v=beta&t=hDNo8uXp4PU6ZNMyHH-b5WJwa8XdR_Q9wL3Bt3m1LIo" alt="N.Varamashvili" width="120" height="120">*@
                <img src="~/img/MyPic.jpg" alt="N.Varamashvili" width="120" height="120">
            </th>
        </tr>
        <tr>
            <th>
                <h5>Email: <a style="color:blue">varamashvili.nikoloz@gmail.com</a></h5>
            </th>
        </tr>
        <tr>
            <th>
                <h5>Linked-In: <a style="color:blue" href="//www.linkedin.com/in/nikoloz-varamashvili-10a8a24a">//www.linkedin.com/in/nikoloz-varamashvili-10a8a24a</a></h5>
            </th>
        </tr>

    </tbody>
</table>
